{% extends "base/base.html" %}

{% block body %}
<section class="section-conten" style="padding-top: 3.5rem; padding-bottom: 3.5rem; max-height:80vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Register</h4>
            <form method="POST">{% csrf_token %}
                {% include 'base/alert.html' %}
                <div class="form-group">
                    <input name="first_name" required class="form-control" placeholder="First Name" type="text">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <input name="last_name" required class="form-control" placeholder="Last Name" type="text">
                </div> <!-- form-group// -->

                <div class="form-group">
                    <input name="email" required class="form-control" placeholder="Email" type="text">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <input name="password" required class="form-control" placeholder="Password" type="password">
                </div> <!-- form-group// -->

                <div class="form-group">
                    <button type="submit" required class="btn btn-primary btn-block"> Register </button>
                </div> <!-- form-group// -->
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4"> Have an account? <a href="/accounts/login">Login</a></p>
    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
{% endblock %}